{% load static %}<!doctype html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="referrer" content="strict-origin-when-cross-origin">
  <meta name="color-scheme" content="dark">
  <title>{% block title %}SecureCyber{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/theme.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/components.css' %}">
  {% block extra_css %}{% endblock %}
</head>
<body>
  {% include "partials/_navbar.html" %}
  <div class="layout">
    {% include "partials/_sidebar.html" %}
    <main class="content">
      {% include "partials/_flash.html" %}
      {% block content %}{% endblock %}
    </main>
  </div>

  <script src="{% static 'js/main.js' %}" defer></script>
  {% block extra_js %}{% endblock %}
</body>
</html>
